<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

  </head>
  <body>
    <% include partials/nav.ejs %>
  <h2>Welcome <%= data.name %></h2>
  </body>
</html>
